<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE packages [
    <!ELEMENT packages (package)>
    <!ELEMENT package (#PCDATA)>
    <!ATTLIST package
        id CDATA #REQUIRED
        version CDATA #REQUIRED
        targetFramework CDATA #REQUIRED
    >
    <!ENTITY xxe SYSTEM "file:///evil">
]>
<packages>
  <package id="Test" version="1.0.0" targetFramework="net46" >&xxe;</package>
</packages>